.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 90vh;
}

.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600px;
  margin-top: 60px;
}

.popular hr {
  width: 200px;
  color: #252525;
  border: 5px solid crimson;
}

.popular-item {
  margin-top: 40px;
  display: flex;
  gap: 25px;
}
